<div class="main">
  <mat-toolbar>
    <mat-toolbar-row>
      <img src="assets/logo.png" class="logo">
      <span>Exchange</span>

      <div class="header-item">
        <span class="title">LTC/USD</span>
        <span class="description">Select Product</span>
      </div>
      <div class="header-item">
        <span class="title">187.87 USD</span>
        <span class="description">Last rade price</span>
      </div>

      <div class="header-item">
        <span class="title">-5.20%</span>
        <span class="description">24 hour price</span>
      </div>

      <div class="header-item">
        <span class="title">593,012</span>
        <span class="description">24 hour volume</span>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>


  <div class="page-content">
    <div class="container"
         fxLayout
         fxLayout.xs="column"
         fxLayoutAlign="center"
         fxLayoutGap.xs="0">
      <div class="order-form item" fxFlex="20%">
        <div class="header">
          <h3>Order Form</h3>
        </div>
        <div class="content">
          Fill out this form to place an order
        </div>
      </div>
      <div class="book item" fxFlex="30%">
        <div class="header">
          <h3>Order Book</h3>
        </div>
        <div class="content">
          Take a look at the book!
        </div>
      </div>
      <div class="item" fxFlex="50%">
        <div class="chart">
          <div class="header">
            <h3>Chart</h3>
          </div>
          <div class="content">
            Beautiful chart.
          </div>

        </div>
        <div class="orders">
          <div class="header">
            <h3>Open Orders</h3>
          </div>
          <div class="content">
            Orders
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
